<h1>Memetube!!</h1>
<h2>Add a Video</h2>
<form class="" action="/" method="post">
  <input type="text" name="title" value="" placeholder="Video Title"><br>
  <input type="text" name="description" value="" placeholder="Video Description"><br>
  <input type="text" name="url" value="" placeholder="Video URL"><br>
  <input type="text" name="genre" value="" placeholder="Video Genre"><br>
  <button type="submit">Submit</button>
</form><br>
<% @videos.each do |video| %>
  <div class="videos">
    <iframe width="290" height="175" src="https://www.youtube.com/embed/<%= video["url"] %>" frameborder="0" allowfullscreen></iframe>
    <a href="/edit/<%= video["id"] %>"><%= video["title"] %></a> -
    <%= video["description"] %> -
    <%= video["genre"] %>
  </div>
<% end %>
